# Cache objects
./builds/*.*/packer_cache/*

# For built boxes
*.box

# Misc
builds/*/packer_cache/
builds/vsphere-prod.pkrvars.hcl
builds/ubuntu20/output/Ubuntu Linux-Linux.json
builds/ubuntu20/config/id_ed25519.pub
.gitignore
builds/ubuntu20/config/id_ed25519
builds/.DS_Store
.DS_Store
.secrets/
builds/vsphere.pkrvars.hcl
builds/vsphere.pkrvars.hcl.master